@model DummyExample.ViewModels.GameViewModel
@*Note above that I'm defining the type of object that should be provided to this view*@

@Html.HiddenFor(m => m.GameId, new { Id = "hdnGameId" })
<div id="GameBoard" style="width:97px;height:97px;padding:0px;">
    @*The real beauty of MVC is that we can use c# code to leverage building our views*@
    @for (int r = 0; r < 3; r++)
    {
        for (int c = 0; c < 3; c++)
        {
            @*There are two things to notice here.
                The first is that I used two C# for loops to build out the entire game board with one line of html.
                The second is that I can bind to more than just view model properties.
                    Here I indicated the coordinates of each cell by binding to the fields of my for loop.
            *@
            <div class="BoardCell" data-x-coordinate="@r" data-y-coordinate="@c" style="width:30px;height:30px;float:left;border:1px solid black;margin:0px;padding:0px;">
                <p>@Model.Game.Board[r][c]</p>
            </div>
        }
    }
</div>