<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="CentralServerUrl" value="http://centralserver.codeketeers.com/"/>
  </appSettings>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="TicTacTotalDomination" connectionString="Data Source=ANTHONY-LAPTOP\ANTHONYDEV;Initial Catalog=TicTacTotalDomination;Persist Security Info=True;User ID=TicTacUser;Password=T07aLD0m1nat1oN"
      providerName="System.Data.SqlClient" />
    <add name="TicTacTotalDominationContext" connectionString="Data Source=ANTHONY-LAPTOP\ANTHONYDEV;Initial Catalog=TicTacTotalDomination;Integrated Security=True;MultipleActiveResultSets=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>